body,div,a,p,span{
	padding:0;
	margin:0;
}
#bg{
	width:512px;
	height:650px;
	background:url(./img/img_bg_logo.jpg);
	margin:0 auto;
}
body{
	background:red;
}
.logo{
	width:512px;
	height:350px;
	position:relative;
	top:50px;
	background:url(./img/logo.png) no-repeat;
	background-size:100%;
}
#buttonstart{
	width:200px;
	height:110px;
	background:url(./img/button_start.png) no-repeat;
	background-size:100%;
	margin:0 auto;
}
#buttonstart:hover{
	width:240px;
	height:130px;
	background:url(./img/button_start.png) no-repeat;
	background-size:100%;
	cursor:pointer;
}