body,div,a,p{
	padding:0;
	margin:0;
}
#game{
	width:512px;
	height:500px;
	background:url("./images/bg2.png") no-repeat 0  -260px;
}
#player{
	position:absolute;
	top:420px;
	left:180px;
}
#eshot0{
	display:none;
	position:absolute;
}